In [1]:
from utils import get_nearest_station

In [1]:
import requests
url = 'https://biendata.com/competition/airquality/ld/2018-03-01-0/2018-05-01-23/2k0d1d8'
respones= requests.get(url)
with open ("ld_airquality.csv",'w') as f:
    f.write(respones.text)

In [2]:
url = 'https://biendata.com/competition/meteorology/ld_grid/2018-03-01-0/2018-05-01-23/2k0d1d8'
respones= requests.get(url)
with open ("ld_grid_airquality.csv",'w') as f:
    f.write(respones.text)

In [23]:
import pandas as pd

ld_airquality = pd.read_csv("ld_airquality.csv")
ld_grid_airquality = pd.read_csv("ld_grid_airquality.csv")
ld_air_stations = pd.read_csv("London_AirQuality_Stations.csv")
ld_historical_aqi_stations = pd.read_csv("London_historical_aqi_forecast_stations_20180331.csv")
ld_historical_aqi_other_stations = pd.read_csv("London_historical_aqi_other_stations_20180331.csv")
ld_historical_meo_grid = pd.read_csv("London_historical_meo_grid.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## 2017

#### 2017 grid

In [380]:
historical_meo_grid = ld_historical_meo_grid[['stationName','latitude','longitude']]
historical_meo_grid = historical_meo_grid.drop_duplicates()
where_grid = [[historical_meo_grid['latitude'][i],historical_meo_grid['longitude'][i]] for i in range(len(historical_meo_grid))]
historical_meo_grid.head()

       stationName  latitude  longitude
0  london_grid_000      50.5       -2.0
1  london_grid_001      50.6       -2.0
2  london_grid_002      50.7       -2.0
3  london_grid_003      50.8       -2.0
4  london_grid_004      50.9       -2.0

#### 2017 stations

In [369]:
air_stations = ld_air_stations[['Unnamed: 0','Latitude','Longitude']]
air_stations.columns = ['stationName','latitude','longitude']
where = [[air_stations['latitude'][i],air_stations['longitude'][i]] for i in range(len(air_stations))]
air_stations.head()

  stationName   latitude  longitude
0         BX9  51.465983   0.184877
1         BX1  51.465983   0.184877
2         BL0  51.522287  -0.125848
3         CD9  51.527707  -0.129053
4         CD1  51.544219  -0.175284

In [492]:
# 이 station과 가까운 grid 뽑기
def get_station (lat, lon): 
    result = []
    for v in where_grid:
        result.append(sqrt(pow(v[0]-lat,2)+pow(v[1]-lon,2)))
    
    min_idx = result.index(min(result))
    
    return(historical_meo_grid['stationName'][min_idx])

In [385]:
grid = [get_station(where[i][0],where[i][1]) for i in range(len(where))]

In [395]:
ld_historical_meo_grid.head()

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
0,london_grid_000,-2.0,50.5,2017-01-01 00:00:00,9.36,1024.81,77.90,250.88,23.74
1,london_grid_001,-2.0,50.6,2017-01-01 00:00:00,9.09,1024.25,78.96,249.86,21.81
2,london_grid_002,-2.0,50.7,2017-01-01 00:00:00,8.30,1022.55,82.13,245.35,16.08
3,london_grid_003,-2.0,50.8,2017-01-01 00:00:00,7.50,1020.86,85.30,235.98,10.55
4,london_grid_004,-2.0,50.9,2017-01-01 00:00:00,6.92,1015.89,88.51,228.21,10.97

In [469]:
stations = pd.DataFrame()
stations['station_id'] = air_stations['stationName']
stations['grid'] = grid

In [472]:
ld_historical_airquality = pd.merge(ld_historical_airquality, stations, how='left')
ld_historical_airquality.head()

  station_id           time  PM2.5  PM10   NO2             grid
0        CD1  2017/1/1 0:00   40.0  44.4  36.6  london_grid_388
1        CD1  2017/1/1 1:00   31.6  34.4  46.2  london_grid_388
2        CD1  2017/1/1 2:00   24.7  28.1  38.3  london_grid_388
3        CD1  2017/1/1 3:00   21.2  24.5  32.8  london_grid_388
4        CD1  2017/1/1 4:00   24.9  23.0  28.1  london_grid_388

In [ ]:
pd.merge(ld_historical_airquality, )

In [488]:
type(ld_historical_airquality['time'][0])

str

In [3]:
lat = ld_historical_meo_grid["latitude"]
lon = ld_historical_meo_grid["longitude"]

In [5]:
grid_stataions = [get_nearest_station(lat[i],lon[i]) for i in range(len(ld_historical_meo_grid))]

In [267]:
ld_historical_meo_grid["station_id"] = grid_stataions

In [268]:
ld_historical_meo_grid.head()

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph,station_id
0,london_grid_000,-2.0,50.5,2017-01-01 00:00:00,9.36,1024.81,77.90,250.88,23.74,LH0
1,london_grid_001,-2.0,50.6,2017-01-01 00:00:00,9.09,1024.25,78.96,249.86,21.81,LH0
2,london_grid_002,-2.0,50.7,2017-01-01 00:00:00,8.30,1022.55,82.13,245.35,16.08,LH0
3,london_grid_003,-2.0,50.8,2017-01-01 00:00:00,7.50,1020.86,85.30,235.98,10.55,LH0
4,london_grid_004,-2.0,50.9,2017-01-01 00:00:00,6.92,1015.89,88.51,228.21,10.97,LH0

In [269]:
ld_historical = ld_historical_meo_grid[['station_id','utc_time','temperature','pressure','humidity','wind_direction','wind_speed/kph']]
ld_historical.columns = ['station_id','time','temperature','pressure','humidity','wind_direction','wind_speed']

In [270]:
ld_historical.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,LH0,2017-01-01 00:00:00,9.36,1024.81,77.90,250.88,23.74
1,LH0,2017-01-01 00:00:00,9.09,1024.25,78.96,249.86,21.81
2,LH0,2017-01-01 00:00:00,8.30,1022.55,82.13,245.35,16.08
3,LH0,2017-01-01 00:00:00,7.50,1020.86,85.30,235.98,10.55
4,LH0,2017-01-01 00:00:00,6.92,1015.89,88.51,228.21,10.97

In [ ]:
ld_historical_aqi_stations

In [25]:
air = ld_historical_aqi_stations[['station_id','MeasurementDateGMT','PM2.5 (ug/m3)','PM10 (ug/m3)','NO2 (ug/m3)']]
air.columns = ['station_id','utc_time','PM2.5','PM10','NO2']

In [26]:
air2 = ld_historical_aqi_other_stations[['Station_ID','MeasurementDateGMT','PM2.5 (ug/m3)','PM10 (ug/m3)','NO2 (ug/m3)']]
air2 = air2.dropna()
air2.columns = ['station_id','utc_time','PM2.5','PM10','NO2']
air2.head()

  station_id       utc_time  PM2.5  PM10   NO2
0        LH0  2017/1/1 0:00   30.2  34.6  15.9
1        LH0  2017/1/1 1:00   25.4  29.2  11.8
2        LH0  2017/1/1 2:00   24.7  28.1  11.6
3        LH0  2017/1/1 3:00   23.6  27.0  13.0
4        LH0  2017/1/1 4:00   24.2  27.4  27.1

In [27]:
ld_historical_airquality = pd.merge(air, air2, how='outer')
ld_historical_airquality.head()

  station_id       utc_time  PM2.5  PM10   NO2
0        CD1  2017/1/1 0:00   40.0  44.4  36.6
1        CD1  2017/1/1 1:00   31.6  34.4  46.2
2        CD1  2017/1/1 2:00   24.7  28.1  38.3
3        CD1  2017/1/1 3:00   21.2  24.5  32.8
4        CD1  2017/1/1 4:00   24.9  23.0  28.1

In [468]:
ld_historical.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,BX9,2017-01-01 00:00:00,6.136231,1020.735385,80.565692,226.620154,20.361385
1,BX9,2017-01-01 01:00:00,6.058308,1019.747923,79.967769,225.847769,21.004000
2,BX9,2017-01-01 02:00:00,5.980615,1018.761000,79.370692,225.294923,21.681231
3,BX9,2017-01-01 03:00:00,5.902308,1017.773462,78.773077,224.913692,22.385077
4,BX9,2017-01-01 04:00:00,6.178077,1016.862692,80.425462,222.589538,22.042846

In [494]:
data.tail()

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration,temperature,humidity,wind_direction,wind_speed
6797,2960269,TH4,2018-04-15 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,9.67,88.0,118.935,9.840
6798,2960325,TH4,2018-04-15 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,9.41,89.5,117.070,8.970
6799,2960381,TH4,2018-04-15 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,9.10,91.0,115.355,8.255
6800,2960437,TH4,2018-04-15 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,8.55,92.5,113.465,7.275
6801,2960493,TH4,2018-04-15 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,8.31,92.5,118.405,7.245

In [314]:
ld_historical = ld_historical.groupby(['station_id','time'], as_index=False).mean()

In [320]:
ld_historical[ld_historical['station_id']=='CD1'].head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
10806,CD1,2017-01-01 00:00:00,5.856667,1015.230000,91.163333,223.426667,17.196667
10807,CD1,2017-01-01 01:00:00,5.830000,1014.016667,90.520000,221.383333,17.960000
10808,CD1,2017-01-01 02:00:00,5.803333,1012.813333,89.880000,219.506667,18.746667
10809,CD1,2017-01-01 03:00:00,5.780000,1011.606667,89.236667,217.783333,19.553333
10810,CD1,2017-01-01 04:00:00,5.946667,1010.656667,89.440000,216.810000,19.956667

In [328]:
import datetime
datetime.datetime.strptime("2017/01/02 00:00", "%Y/%m/%d %H:%M")
# 시간이 달라서 머지가 안된다

datetime.datetime(2017, 1, 2, 0, 0)

In [322]:
pd.merge(ld_historical_airquality, ld_historical, how='left')

,station_id,time,PM2.5,PM10,NO2,temperature,pressure,humidity,wind_direction,wind_speed
0,CD1,2017/1/1 0:00,40.0,44.4,36.6,NaN,NaN,NaN,NaN,NaN
1,CD1,2017/1/1 1:00,31.6,34.4,46.2,NaN,NaN,NaN,NaN,NaN
2,CD1,2017/1/1 2:00,24.7,28.1,38.3,NaN,NaN,NaN,NaN,NaN
3,CD1,2017/1/1 3:00,21.2,24.5,32.8,NaN,NaN,NaN,NaN,NaN
4,CD1,2017/1/1 4:00,24.9,23.0,28.1,NaN,NaN,NaN,NaN,NaN
5,CD1,2017/1/1 5:00,24.6,23.9,29.3,NaN,NaN,NaN,NaN,NaN
6,CD1,2017/1/1 6:00,23.9,22.0,28.8,NaN,NaN,NaN,NaN,NaN
7,CD1,2017/1/1 7:00,22.0,22.9,34.6,NaN,NaN,NaN,NaN,NaN
8,CD1,2017/1/1 8:00,19.0,20.1,44.6,NaN,NaN,NaN,NaN,NaN
9,CD1,2017/1/1 9:00,19.9,24.4,55.3,NaN,NaN,NaN,NaN,NaN
10,CD1,2017/1/1 10:00,16.6,17.5,46.4,NaN,NaN,NaN,NaN,NaN
11,CD1,2017/1/1 11:00,14.5,14.6,42.5,NaN,NaN,NaN,NaN,NaN
12,CD1,2017/1/1 12:00,11.0,13.9,44.5,NaN,NaN,NaN,NaN,NaN
13,CD1,2017/1/1 13:00,13.9,13.4,53.6,NaN,NaN,NaN,NaN,NaN
14,CD1,2017/1/1 14:00,8.3,8.6,61.4,NaN,NaN,NaN,NaN,NaN
15,CD1,2017/1/1 15:00,7.3,6.1,57.9,NaN,NaN,NaN,NaN,NaN
16,CD1,2017/1/1 16:00,4.9,6.1,46.0,NaN,NaN,NaN,NaN,NaN
17,CD1,2017/1/1 17:00,4.6,8.1,96.5,NaN,NaN,NaN,NaN,NaN
18,CD1,2017/1/1 18:00,8.3,7.3,64.2,NaN,NaN,NaN,NaN,NaN
19,CD1,2017/1/1 19:00,7.3,8.9,59.7,NaN,NaN,NaN,NaN,NaN
20,CD1,2017/1/1 20:00,7.8,11.3,61.3,NaN,NaN,NaN,NaN,NaN
21,CD1,2017/1/1 21:00,11.1,9.8,57.0,NaN,NaN,NaN,NaN,NaN
22,CD1,2017/1/1 22:00,7.1,13.0,50.9,NaN,NaN,NaN,NaN,NaN
23,CD1,2017/1/1 23:00,6.8,11.4,40.2,NaN,NaN,NaN,NaN,NaN
24,CD1,2017/1/2 0:00,6.2,7.3,33.9,NaN,NaN,NaN,NaN,NaN
25,CD1,2017/1/2 1:00,9.0,9.9,21.7,NaN,NaN,NaN,NaN,NaN
26,CD1,2017/1/2 2:00,8.2,6.4,19.5,NaN,NaN,NaN,NaN,NaN
27,CD1,2017/1/2 3:00,7.0,9.1,18.8,NaN,NaN,NaN,NaN,NaN
28,CD1,2017/1/2 4:00,6.7,8.6,19.7,NaN,NaN,NaN,NaN,NaN
29,CD1,2017/1/2 5:00,7.4,13.3,27.7,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
283264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2018

In [100]:
k = ld_historical_meo_grid[['stationName','station_id']]
ld_grid_id = k.drop_duplicates('stationName')
ld_grid_id.columns= ['station_id','stationName'] # grid의 역이름

In [195]:
ld_grid_airquality = pd.merge(ld_grid_id, ld_grid_airquality,how='left')
ld_grid_airquality.columns = ['stationName','station_id', 'id', 'time', 'weather', 'temperature',
       'pressure', 'humidity', 'wind_direction', 'wind_speed']

In [196]:
#ld_grid_airquality.pop('stationName')
ld_grid_airquality.head()

,stationName,station_id,id,time,weather,temperature,pressure,humidity,wind_direction,wind_speed
0,london_grid_000,LH0,2000096,2018-03-31 07:00:00,CLOUDY,6.14,995.3492,85.0,304.13,21.98
1,london_grid_000,LH0,2001629,2018-03-31 08:00:00,CLOUDY,6.18,995.8819,85.0,306.21,23.13
2,london_grid_000,LH0,2003162,2018-03-31 09:00:00,CLOUDY,6.37,996.5132,84.0,307.54,24.43
3,london_grid_000,LH0,2004695,2018-03-31 10:00:00,RAIN,6.49,997.6808,83.0,314.85,25.95
4,london_grid_000,LH0,2006228,2018-03-31 11:00:00,RAIN,6.95,998.4093,82.0,313.81,26.44

In [197]:
ld_grid_airquality = ld_grid_airquality.sort_values(by=['station_id','time'])
ld_grid_airquality.head()

,stationName,station_id,id,time,weather,temperature,pressure,humidity,wind_direction,wind_speed
165403,london_grid_466,BX9,2000562,2018-03-31 07:00:00,RAIN,6.21,988.2249,86.0,213.04,19.59
165758,london_grid_467,BX9,2000563,2018-03-31 07:00:00,CLOUDY,5.60,985.3456,90.0,210.11,15.73
166113,london_grid_468,BX9,2000564,2018-03-31 07:00:00,CLOUDY,5.38,984.1574,91.0,207.47,14.38
166468,london_grid_469,BX9,2000565,2018-03-31 07:00:00,CLOUDY,5.15,982.9693,92.0,204.29,13.06
166823,london_grid_470,BX9,2000566,2018-03-31 07:00:00,CLOUDY,5.18,984.0101,90.0,202.07,12.03

In [198]:
ld_airquality = ld_airquality.sort_values(by=['station_id','time'])
ld_airquality.head()

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
1,2941507,BL0,2018-03-31 07:00:00,8.5,8.8,44.8,NaN,NaN,NaN
20,2941563,BL0,2018-03-31 08:00:00,4.9,10.8,68.1,NaN,NaN,NaN
39,2941619,BL0,2018-03-31 09:00:00,2.4,5.6,54.1,NaN,NaN,NaN
58,2941675,BL0,2018-03-31 10:00:00,4.6,6.5,59.9,NaN,NaN,NaN
77,2941731,BL0,2018-03-31 11:00:00,4.4,7.0,50.5,NaN,NaN,NaN

In [200]:
#ld_airquality['station_id'].value_counts()
data = pd.merge(ld_airquality, ld_grid_airquality, how='left')

In [211]:
ld_grid_airquality = ld_grid_airquality[['station_id','time','temperature','humidity','wind_direction','wind_speed']]

In [235]:
ld_grid_airquality_mean = ld_grid_airquality.groupby(['station_id','time'], as_index=False).mean()

In [236]:
data = pd.merge(ld_airquality, ld_grid_airquality_mean, how='left')

In [49]:
ld_historical_meo_grid.columns = ['station_id', 'longitude', 'latitude', 'time', 'temperature',
       'pressure', 'humidity', 'wind_direction', 'wind_speed/kph']

In [60]:
ld_historical_meo_grid.head()

,station_id,longitude,latitude,time,temperature,pressure,humidity,wind_direction,wind_speed/kph
0,LH0,-2.0,50.5,2017-01-01 00:00:00,9.36,1024.81,77.90,250.88,23.74
1,LH0,-2.0,50.6,2017-01-01 00:00:00,9.09,1024.25,78.96,249.86,21.81
2,LH0,-2.0,50.7,2017-01-01 00:00:00,8.30,1022.55,82.13,245.35,16.08
3,LH0,-2.0,50.8,2017-01-01 00:00:00,7.50,1020.86,85.30,235.98,10.55
4,LH0,-2.0,50.9,2017-01-01 00:00:00,6.92,1015.89,88.51,228.21,10.97

In [64]:
ld_historical_meo_grid.tail()

,station_id,longitude,latitude,time,temperature,pressure,humidity,wind_direction,wind_speed/kph
9303961,HV1,2.0,52.1,2018-03-27 05:00:00,7.06,1011.21,85.77,189.56,27.38
9303962,HV1,2.0,52.2,2018-03-27 05:00:00,7.03,1011.11,85.88,189.88,26.71
9303963,HV1,2.0,52.3,2018-03-27 05:00:00,6.91,1011.01,85.91,189.05,25.75
9303964,HV1,2.0,52.4,2018-03-27 05:00:00,6.79,1010.92,85.94,188.15,24.79
9303965,HV1,2.0,52.5,2018-03-27 05:00:00,6.74,1010.89,85.95,187.84,24.47

In [50]:
ld_meo = pd.pivot_table(ld_historical_meo_grid, index=['station_id','time'])

In [51]:
ld_meo.head()

                                 humidity   latitude  longitude     pressure  \
station_id time
BX9        2017-01-01 00:00:00  80.565692  50.837692   0.966154  1020.735385
           2017-01-01 01:00:00  79.967769  50.837692   0.966154  1019.747923
           2017-01-01 02:00:00  79.370692  50.837692   0.966154  1018.761000
           2017-01-01 03:00:00  78.773077  50.837692   0.966154  1017.773462
           2017-01-01 04:00:00  80.425462  50.837692   0.966154  1016.862692

                                temperature  wind_direction  wind_speed/kph
station_id time
BX9        2017-01-01 00:00:00     6.136231      226.620154       20.361385
           2017-01-01 01:00:00     6.058308      225.847769       21.004000
           2017-01-01 02:00:00     5.980615      225.294923       21.681231
           2017-01-01 03:00:00     5.902308      224.913692       22.385077
           2017-01-01 04:00:00     6.178077      222.589538       22.042846

In [46]:
ld_air = pd.pivot_table(sample,index=["station_id","time"])
ld_air.head()

                                NO2_Concentration  PM10_Concentration  \
station_id time
BL0        2018-03-31 07:00:00               44.8                 8.8
           2018-03-31 08:00:00               68.1                10.8
           2018-03-31 09:00:00               54.1                 5.6
           2018-03-31 10:00:00               59.9                 6.5
           2018-03-31 11:00:00               50.5                 7.0

                                PM25_Concentration       id
station_id time
BL0        2018-03-31 07:00:00                 8.5  2941507
           2018-03-31 08:00:00                 4.9  2941563
           2018-03-31 09:00:00                 2.4  2941619
           2018-03-31 10:00:00                 4.6  2941675
           2018-03-31 11:00:00                 4.4  2941731

In [59]:
pd.concat(ld_m

                                longitude   latitude  temperature  \
station_id time
BX9        2017-01-01 00:00:00   0.966154  50.837692     6.136231
           2017-01-01 01:00:00   0.966154  50.837692     6.058308
           2017-01-01 02:00:00   0.966154  50.837692     5.980615
           2017-01-01 03:00:00   0.966154  50.837692     5.902308
           2017-01-01 04:00:00   0.966154  50.837692     6.178077
           2017-01-01 05:00:00   0.966154  50.837692     6.453538
           2017-01-01 06:00:00   0.966154  50.837692     6.728846
           2017-01-01 07:00:00   0.966154  50.837692     6.696077
           2017-01-01 08:00:00   0.966154  50.837692     6.664000
           2017-01-01 09:00:00   0.966154  50.837692     6.630615
           2017-01-01 10:00:00   0.966154  50.837692     7.115538
           2017-01-01 11:00:00   0.966154  50.837692     7.600462
           2017-01-01 12:00:00   0.966154  50.837692     8.085000
           2017-01-01 13:00:00   0.966154  50.837692     7.924231
           2017-01-01 14:00:00   0.966154  50.837692     7.761923
           2017-01-01 15:00:00   0.966154  50.837692     7.600769
           2017-01-01 16:00:00   0.966154  50.837692     7.475538
           2017-01-01 17:00:00   0.966154  50.837692     7.351077
           2017-01-01 18:00:00   0.966154  50.837692     7.226385
           2017-01-01 19:00:00   0.966154  50.837692     6.776615
           2017-01-01 20:00:00   0.966154  50.837692     6.325231
           2017-01-01 21:00:00   0.966154  50.837692     5.874615
           2017-01-01 22:00:00   0.966154  50.837692     5.904385
           2017-01-01 23:00:00   0.966154  50.837692     5.933308
           2017-01-02 00:00:00   0.966154  50.837692     5.962769
           2017-01-02 01:00:00   0.966154  50.837692     5.979846
           2017-01-02 02:00:00   0.966154  50.837692     5.996385
           2017-01-02 03:00:00   0.966154  50.837692     6.013615
           2017-01-02 04:00:00   0.966154  50.837692     5.936538
           2017-01-02 05:00:00   0.966154  50.837692     5.859846
...                                   ...        ...          ...
TH4        2018-03-26 00:00:00   0.000000  51.550000     6.775000
           2018-03-26 01:00:00   0.000000  51.550000     6.650000
           2018-03-26 02:00:00   0.000000  51.550000     6.515000
           2018-03-26 03:00:00   0.000000  51.550000     6.390000
           2018-03-26 04:00:00   0.000000  51.550000     5.775000
           2018-03-26 05:00:00   0.000000  51.550000     5.155000
           2018-03-26 06:00:00   0.000000  51.550000     4.540000
           2018-03-26 07:00:00   0.000000  51.550000     5.685000
           2018-03-26 08:00:00   0.000000  51.550000     6.830000
           2018-03-26 09:00:00   0.000000  51.550000     7.980000
           2018-03-26 10:00:00   0.000000  51.550000     9.160000
           2018-03-26 11:00:00   0.000000  51.550000    10.340000
           2018-03-26 12:00:00   0.000000  51.550000    11.515000
           2018-03-26 13:00:00   0.000000  51.550000    11.495000
           2018-03-26 14:00:00   0.000000  51.550000    11.470000
           2018-03-26 15:00:00   0.000000  51.550000    11.445000
           2018-03-26 16:00:00   0.000000  51.550000    11.055000
           2018-03-26 17:00:00   0.000000  51.550000    10.670000
           2018-03-26 18:00:00   0.000000  51.550000    10.280000
           2018-03-26 19:00:00   0.000000  51.550000     9.740000
           2018-03-26 20:00:00   0.000000  51.550000     9.205000
           2018-03-26 21:00:00   0.000000  51.550000     8.665000
           2018-03-26 22:00:00   0.000000  51.550000     8.120000
           2018-03-26 23:00:00   0.000000  51.550000     7.570000
           2018-03-27 00:00:00   0.000000  51.550000     7.025000
           2018-03-27 01:00:00   0.000000  51.550000     6.985000
           2018-03-27 02:00:00   0.000000  51.550000     6.945000
           2018-03-27 03:00:00   0.000000  51.550000     6.905000
           2018-03-27 04:00:00   0.000000  51.550000     6.765000
           2018-03-27 05:00:00   0.000000  51.550000     6.625000

                                   pressure   humidity  wind_direction  \
station_id time
BX9        2017-01-01 00:00:00  1020.735385  80.565692      226.620154
           2017-01-01 01:00:00  1019.747923  79.967769      225.847769
           2017-01-01 02:00:00  1018.761000  79.370692      225.294923
           2017-01-01 03:00:00  1017.773462  78.773077      224.913692
           2017-01-01 04:00:00  1016.862692  80.425462      222.589538
           2017-01-01 05:00:00  1015.951923  82.078308      220.212462
           2017-01-01 06:00:00  1015.041154  83.730462      217.788000
           2017-01-01 07:00:00  1014.516769  85.913308      213.685692
           2017-01-01 08:00:00  1013.992615  88.096385      210.568538
           2017-01-01 09:00:00  1013.468077  90.278846      208.136692
           2017-01-01 10:00:00  1013.126615  89.687000      211.627385
           2017-01-01 11:00:00  1012.784077  89.095538      215.079923
           2017-01-01 12:00:00  1012.442615  88.503846      218.468308
           2017-01-01 13:00:00  1012.165077  88.583077      219.206462
           2017-01-01 14:00:00  1011.887385  88.662846      220.984462
           2017-01-01 15:00:00  1011.610077  88.742692      224.029692
           2017-01-01 16:00:00  1011.861769  88.924692      228.946077
           2017-01-01 17:00:00  1012.114000  89.106308      204.321615
           2017-01-01 18:00:00  1012.365154  89.287923      196.628077
           2017-01-01 19:00:00  1013.156769  89.251154      190.807308
           2017-01-01 20:00:00  1013.948000  89.214154      168.218769
           2017-01-01 21:00:00  1014.738769  89.177000      143.139538
           2017-01-01 22:00:00  1015.454692  88.333000      113.051231
           2017-01-01 23:00:00  1016.170000  87.488154       77.063923
           2017-01-02 00:00:00  1016.885231  86.644000       55.549385
           2017-01-02 01:00:00  1017.411538  85.408538       46.466154
           2017-01-02 02:00:00  1017.937615  84.174538       29.568308
           2017-01-02 03:00:00  1018.463231  82.939308       30.787692
           2017-01-02 04:00:00  1019.101154  82.352231       30.492846
           2017-01-02 05:00:00  1019.739154  81.766077       30.138000
...                                     ...        ...             ...
TH4        2018-03-26 00:00:00  1010.995000  70.030000      328.405000
           2018-03-26 01:00:00  1011.240000  69.580000      331.900000
           2018-03-26 02:00:00  1011.490000  69.130000      335.315000
           2018-03-26 03:00:00  1011.740000  68.680000      338.630000
           2018-03-26 04:00:00  1012.005000  70.435000      334.745000
           2018-03-26 05:00:00  1012.270000  72.180000      330.560000
           2018-03-26 06:00:00  1012.535000  73.935000      326.085000
           2018-03-26 07:00:00  1012.790000  69.065000      323.725000
           2018-03-26 08:00:00  1013.035000  64.195000      321.175000
           2018-03-26 09:00:00  1013.290000  59.320000      318.440000
           2018-03-26 10:00:00  1013.325000  52.900000      306.965000
           2018-03-26 11:00:00  1013.365000  46.480000      296.410000
           2018-03-26 12:00:00  1013.405000  40.055000      287.275000
           2018-03-26 13:00:00  1013.145000  40.670000      277.445000
           2018-03-26 14:00:00  1012.890000  41.285000      268.525000
           2018-03-26 15:00:00  1012.635000  41.900000      260.755000
           2018-03-26 16:00:00  1012.240000  44.955000      252.260000
           2018-03-26 17:00:00  1011.855000  48.015000      243.695000
           2018-03-26 18:00:00  1011.465000  51.075000      235.380000
           2018-03-26 19:00:00  1011.430000  55.445000      232.110000
           2018-03-26 20:00:00  1011.395000  59.810000      229.145000
           2018-03-26 21:00:00  1011.370000  64.180000      226.455000
           2018-03-26 22:00:00  1010.815000  66.220000      219.130000
           2018-03-26 23:00:00  1010.260000  68.255000      211.595000
           2018-03-27 00:00:00  1009.705000  70.290000      204.115000
           2018-03-27 01:00:00  1008.750000  70.970000      194.890000
           2018-03-27 02:00:00  1007.795000  71.645000      187.325000
           2018-03-27 03:00:00  1006.830000  72.320000      181.215000
           2018-03-27 04:00:00  1005.655000  76.870000      176.125000
           2018-03-27 05:00:00  1004.480000  81.420000      172.045000

                                wind_speed/kph
station_id time
BX9        2017-01-01 00:00:00       20.361385
           2017-01-01 01:00:00       21.004000
           2017-01-01 02:00:00       21.681231
           2017-01-01 03:00:00       22.385077
           2017-01-01 04:00:00       22.042846
           2017-01-01 05:00:00       21.740308
           2017-01-01 06:00:00       21.475538
           2017-01-01 07:00:00       24.085154
           2017-01-01 08:00:00       26.870077
           2017-01-01 09:00:00       29.767231
           2017-01-01 10:00:00       29.734231
           2017-01-01 11:00:00       29.808846
           2017-01-01 12:00:00       29.990769
           2017-01-01 13:00:00       29.295538
           2017-01-01 14:00:00       28.718231
           2017-01-01 15:00:00       28.386462
           2017-01-01 16:00:00       26.204923
           2017-01-01 17:00:00       26.257154
           2017-01-01 18:00:00       27.494462
           2017-01-01 19:00:00       21.830923
           2017-01-01 20:00:00       19.209308
           2017-01-01 21:00:00       20.909923
           2017-01-01 22:00:00       19.447385
           2017-01-01 23:00:00       21.845462
           2017-01-02 00:00:00       27.009923
           2017-01-02 01:00:00       27.160923
           2017-01-02 02:00:00       28.000462
           2017-01-02 03:00:00       29.066231
           2017-01-02 04:00:00       28.121385
           2017-01-02 05:00:00       27.181692
...                                        ...
TH4        2018-03-26 00:00:00        8.135000
           2018-03-26 01:00:00        8.215000
           2018-03-26 02:00:00        8.325000
           2018-03-26 03:00:00        8.470000
           2018-03-26 04:00:00        8.145000
           2018-03-26 05:00:00        7.865000
           2018-03-26 06:00:00        7.630000
           2018-03-26 07:00:00        7.345000
           2018-03-26 08:00:00        7.085000
           2018-03-26 09:00:00        6.835000
           2018-03-26 10:00:00        7.000000
           2018-03-26 11:00:00        7.430000
           2018-03-26 12:00:00        8.075000
           2018-03-26 13:00:00        8.350000
           2018-03-26 14:00:00        8.855000
           2018-03-26 15:00:00        9.550000
           2018-03-26 16:00:00        9.385000
           2018-03-26 17:00:00        9.430000
           2018-03-26 18:00:00        9.685000
           2018-03-26 19:00:00       10.105000
           2018-03-26 20:00:00       10.570000
           2018-03-26 21:00:00       11.060000
           2018-03-26 22:00:00       10.820000
           2018-03-26 23:00:00       10.770000
           2018-03-27 00:00:00       10.910000
           2018-03-27 01:00:00       11.975000
           2018-03-27 02:00:00       13.290000
           2018-03-27 03:00:00       14.800000
           2018-03-27 04:00:00       16.555000
           2018-03-27 05:00:00       18.410000

[183702 rows x 7 columns]

In [54]:
pd.merge(ld_meo, ld_air, 'left', on=['station_id','time'])

KeyError: 'station_id'

In [28]:
ld = pd.DataFrame(columns=['station_id', 'utc_time'])

In [29]:
ld_airquality = ld_airquality.rename(columns={'time':'utc_time'})

In [30]:
ld_station_list = list(set(ld_airquality['station_id']))

In [31]:
utc_time = sorted(list(set(ld_airquality['utc_time'])))

In [32]:
import datetime

start_time = datetime.datetime.strptime('2017-01-01 00:00:00', '%Y-%m-%d %H:%M:%S')
utc_time = [(start_time + datetime.timedelta(hours=i)).isoformat().replace('T', ' ') for i in range(600*24)]

In [33]:
ld['station_id'] = sorted(ld_station_list * 600 * 24)
ld['utc_time'] = utc_time * len(ld_station_list)

In [39]:
def func(data):
    tmp_time = datetime.datetime.strptime(data, '%Y/%m/%d %H:%M')
    return tmp_time.isoformat().replace('T', ' ')

In [42]:
ld_historical_airquality['utc_time'] = list(map(func,ld_historical_airquality['utc_time']))

In [43]:
ld_result = pd.merge(ld, ld_historical_airquality, on=['station_id','utc_time'])

In [45]:
from utils import get_nearest_grid
ld_result['stationName'] = list(map(get_nearest_grid, ld_result['station_id']))

In [48]:
ld_result = pd.merge(ld_result, ld_historical_meo_grid, on=['stationName','utc_time'])

In [51]:
ld_result = ld_result.sort_values(by=['station_id','utc_time'])

In [52]:
ld_result.shape

(161541, 13)

In [53]:
ld_result.to_csv("london_table.csv")